@media(min-width:599px) {
    .min-phone {
        display: none;
    }
}

@media(max-width:600px) {
    .min-window {
        display: none;
    }
}

ion-content {
    --ion-card-background: rgb(241, 253, 255) !important;
    --ion-card-color: black;
}

.img-center {
    text-align: center;
}

.image-separator {
    margin-right: 10px;
}

.my-custom-class .alert-wrapper {
    background: #e5e5e5;
}