<ion-header [translucent]="true" class="min-window">
  <ion-toolbar>
      <button ion-button icon-only menuToggle>
        <ion-title>Inicio</ion-title>
      </button>
      <button ion-button icon-only menuToggle>
        <ion-title>Buscar</ion-title>
      </button>
      <button ion-button icon-only menuToggle>
        <ion-title>Chats</ion-title>
      </button>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-button><a color="#fff" href="/registro">Registrarse</a></ion-button>
</div>