<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Acerca de la App</h4>
      <p>HobbTag es una herramienta para chatear, publicar y conocer gente con gustos parecidos.</p>
    </div>

    <h4>Sobre HobbTag:</h4>
    <p>
      HobbTag es una herramienta gratuita que ayuda a las personas a destacarse en las redes sociales y así atraer a nuevas personas a conocerte. 
      Usa la app de HobbTag para conectarte con tus amigos u otros usuarios y mantener tu imagen actualizada en la Búsqueda de nuevas personas.
    </p>
    <p>
      La app de HobbTag es una app para dispositivos móviles gratuita que te ayuda a socializar con gente de todo el mundo con gustos parecidos.
      Con ella, puedes hacer lo siguiente:
    </p>
    <ul>
      <li>
        Editar tu información personal(p. ej., nombre de usuario, contraseña, email, etc)
      </li>
      <li>
        Responder las opiniones, las preguntas y los mensajes de otros usuarios
      </li>
      <li>
        Compartir fotos nuevas y publicar actualizaciones sobre eventos y ofertas especiales
      </li>
      <li>
        Buscar gente nueva
      </li>
    </ul>

    <p>
      Funciones diferentes en dispositivos móviles y Web.
      La app para dispositivos móviles de HobbTag te permite administrar y editar la información de tu cuenta. No obstante, es posible que tengas acceso a información diferente en la app para dispositivos móviles y en la versión para web.
    </p>
    <p>
      Algunas funciones solo están disponibles en dispositivos móviles, como la posibilidad de ver tus seguidores.
      Algunas funciones aún no están disponibles en los dispositivos móviles.
    </p>

    <h4>Sobre el Autor:</h4>
    <p><strong>Nombre:</strong> Arturo Jerez Guerrero</p>
    <p><strong>Edad:</strong> 23 años</p>
    <p><strong>Experiencia:</strong> Técnico especializado en el uso de herramientas Web y Multiplataforma.</p>
    <p><a href="https://es.linkedin.com/in/arturo-jerez-guerrero-baa21a177">Pérfil LinkedIn</a></p>
  </div>
</ion-content>
