@media(min-width:599px) {
    .min-phone {
        display: none;
    }
}

ion-tab-button {
    color: black;
    :active {
        color: white;
    }
}

ion-tab-button {
    background-color: #3880ff;
}