<ion-header [translucent]="true" class="min-phone">
  <ion-toolbar color="primary">
    <div class="img-center">
      <img type="image/png" src="../../../assets/hobbtag-title.png" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="identity">
  <app-explore-container title="Mensajes Privados"></app-explore-container>

  <div class="container">

    <div class="alert alert-info" role="alert">
      <p>Todos los mensajes privados que recibas o envias se notificaran <strong>aquí</strong>.</p>
      <hr>
      <p class="mb-0">Pues probar a enviar uno a tus amigos.</p>
    </div>

    <div class="media-body">
      <h2 button [routerLink]="['recibidos']">
        <ion-icon name="paper-plane-outline"></ion-icon>
        Mensajes recibidos
        <ion-badge color="danger">2</ion-badge>
      </h2>
      <h2 button [routerLink]="['enviados']">
        <ion-icon name="send-outline"></ion-icon>
        Mensajes enviados
        <ion-badge color="danger">1</ion-badge>
      </h2>
    </div>
  </div>

  <ion-fab class="min-phone" vertical="bottom" horizontal="end" slot="fixed">
    <ion-button [routerLink]="['enviar']">
        <ion-icon name="brush-outline"></ion-icon>
    </ion-button>
  </ion-fab>

</ion-content>

<ion-content [fullscreen]="true" *ngIf="!identity">
  <p><em><a [routerLink]="['/login']">Identificate</a></em></p>
  <p>O</p>
  <p><em><a [routerLink]="['/registro']">Registrate</a></em></p>
</ion-content>
