<ion-content padding>
  <h1 class="h1-strong">{{title}}</h1>

    <form #loginForm="ngForm">
        <ion-item>
            <ion-label>Correo Electrónico</ion-label>
            <ion-input class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email"
                    type="email" placeholder="Correo Electrónico" required 
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
        </ion-item>
        <span class="alert alert-danger" *ngIf="!email.valid && email.touched">
            El correo es obligatorio
        </span>

        <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-input class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password"
                    type="password" placeholder="Contraseña" required></ion-input> 
        </ion-item>
        <span class="alert alert-danger" *ngIf="!password.valid && password.touched">
            La contraseña es obligatorio
        </span>

        <button [disabled]="!loginForm.form.valid" type="submit" (click)="onSubmit()" class="btn btn-success">Acceder</button>
  </form>

</ion-content>