<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Pérfil</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Cuenta</ion-item>
        <ion-item>Buscar</ion-item>
        <ion-item>Chats</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
