<ion-content padding>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Registro completado correctamente, <a [routerLink]="['/login']">Identificate aquí</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        El registro no ha podido completarse, quizas tu email o nickname ya esten en uso.
    </div>
    <div id="background-image-phone" class="min-phone">
        <img src="../../../assets/background-phone.jpg" />
    </div>

    <ion-card class="tools-cards">
        <div id="logo">
            <div class="img-center">
                <img type="image/png" src="../../../assets/hobbtag-title.png" />
            </div>
        </div>
        <br/><br/>
        <ion-card-title class="h1-strong text-center">{{title}}</ion-card-title>
        <form #registerForm="ngForm" novalidate>
            <ion-item>
                <ion-label>Nombre</ion-label>
                <ion-input class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name"
                        type="text" placeholder="Nombre" required></ion-input> 
            </ion-item>
            <span class="alert alert-danger" *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>

            <ion-item>
                <ion-label>Apellidos</ion-label>
                <ion-input class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname"
                        type="text" placeholder="Apellidos" required></ion-input> 
            </ion-item>
            <span class="alert alert-danger" *ngIf="!surname.valid && surname.touched">
                Los apellidos son obligatorios
            </span>

            <ion-item>
                <ion-label>Nombre de usuario</ion-label>
                <ion-input class="form-control" name="nick" #nick="ngModel" [(ngModel)]="user.nick"
                        type="text" placeholder="Nombre de Usuario" required></ion-input> 
            </ion-item>
            <span class="alert alert-danger" *ngIf="!nick.valid && nick.touched">
                El apodo es obligatorio
            </span>

            <ion-item>
                <ion-label>Correo Electrónico</ion-label>
                <ion-input class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email"
                        type="email" placeholder="Correo Electrónico" required 
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
            </ion-item>
            <span class="alert alert-danger" *ngIf="!email.valid && email.touched">
                El correo es obligatorio
            </span>

            <ion-item>
                <ion-label>Contraseña</ion-label>
                <ion-input class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password"
                        type="password" placeholder="Contraseña" required></ion-input> 
            </ion-item>
            <span class="alert alert-danger" *ngIf="!password.valid && password.touched">
                La contraseña es obligatorio
            </span>
            <div>
                <button [disabled]="!registerForm.form.valid" expand="block" share="round" (click)="onSubmit(registerForm)" class="btn btn-primary button-register">Registrarme</button>
                <span [routerLink]="['/login']">Tengo una cuenta</span>
            </div>
        </form>
    </ion-card>

</ion-content>