<ion-header [translucent]="true" class="min-phone">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="identity">
  <app-explore-container title="Bienvenido a SocialApp"></app-explore-container>
  <ion-card >
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image" />
      </ion-avatar>
      <ion-label position="floating">En que estas pensando?</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-content>
      <textarea></textarea>
    </ion-content>
  </ion-card>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="!identity">
  <app-explore-container title="Bienvenido a SocialApp"></app-explore-container>
</ion-content>
