@media(min-width:599px) {
    .min-phone {
        display: none;
    }
}

@media(max-width:600px) {
    .min-window {
        display: none;
    }

}

.image-separator {
    margin-right: 10px;
}

.my-custom-class .alert-wrapper {
    background: #e5e5e5;
  }